/*.techknow .ui-dialog-titlebar-close {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    visibility: hidden;
}*/
/*#techknow_buttonset {
    bottom: 58px;
    position: relative;
    right: 2px;
}*/
.techknow_highlight {
  z-index: 9000 !important;
}

/*.techknow #tempstep .ui-dialog .ui-dialog-titlebar {
    box-shadow: 0 0 0 0 #FFFFFF !important;
    position: relative !important;
    top: 26px !important;
    z-index: 2 !important;
}*/
/*.techknow #tempstep {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: visible;
    position: relative;
}*/
/*.techknow .ui-dialog .ui-dialog-buttonpane {
    background-image: none;
    border-width: 1px 0 0;
    bottom: -7px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 2000;
}*/
/*.ui-dialog-buttonpane button {
    margin: 0;
}
.techknow .ui-widget-content {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    color: #333333 !important;
}
.techknow .ui-widget-header {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    color: #FFFFFF;
    font-weight: bold;
}*/
/*.alter_guidebox_properties {
    content: ""!important;
    margin: 0px !important;
    padding: 0px !important;
}

.alter_guidebox_button_properties {
    margin: 0.5em 0 0 !important;
    padding: 0.3em 1em 0.5em 0.4em !important;
}*/
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141823;
  opacity: 0.7;
}

/* Icons
----------------------------------*/
/* Misc visuals
----------------------------------*/
.techknow {
  width: 453px;
  height: 268px;
  font-family: sans-serif, Arial;
  background-color: #f4f4ff;
  border: 2px solid #1e1e1e;
  border-radius: 8px;
  margin-top: 15px;
  cursor: default;
  overflow: visible;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
}
.techknow a.ui-dialog-titlebar-close > span {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px black;
  position: absolute;
  top: -11px;
  right: -11px;
  background: url(x.svg) norepeat -11px -11px;
  background-image: url(x.svg);
  background-repeat: norepeat;
  cursor: pointer;
  transform: scale(1);
}
.techknow a.ui-dialog-titlebar-close > span:hover {
  transform: scale(1.04) translateX(-0.5px) translateY(-0.5px);
  box-shadow: 1px 1px 3px black;
}
.techknow a.ui-dialog-titlebar-close > span:hover:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.techknow a.ui-dialog-titlebar-close:active {
  transform: scale(0.9);
  box-shadow: 1px 1px 3px black;
  box-shadow: 1px 1px 1px black;
}
.techknow a.ui-dialog-titlebar-close:active:after {
  background-color: rgba(255, 64, 143, 0.2);
}
.techknow .ui-dialog-titlebar {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #009bff;
  height: 45px;
  border-bottom: 2px solid #1e1e1e;
}
.techknow .ui-dialog-titlebar > span {
  font-size: 24px;
  letter-spacing: 2px;
  font-family: sans-serif, Arial;
  display: block;
  padding: 9px 19px;
  color: #f4f4f4;
}
.techknow .guide-content {
  width: 100%;
  position: relative;
  height: 225px;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
}
.techknow .guide-content .guide-text-container {
  width: 77%;
  height: 65%;
  margin: auto;
  margin-top: 5%;
  font-size: 14px;
}
.techknow .guide-content .guide-share-icons {
  margin: auto;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 9px;
}
.techknow .guide-content .guide-share-icons > div {
  cursor: pointer;
  margin: 0 5px;
  width: 46px;
  height: 46px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  transition: all .5s ease;
}
.techknow .guide-content .guide-share-icons > div:hover {
  transform: scale(1.02);
  box-shadow: -1px 1px 3px black, 1px -1px 3px black;
  transition: all 0.1s ease;
}
.techknow .guide-content .guide-share-icons > div:hover:after {
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
.techknow .guide-content .guide-share-icons > div:active {
  transition: none;
  transform: scale(0.95);
  box-shadow: 0px 1px 2px black, 0px -1px 2px black;
}
.techknow .guide-content .guide-share-icons > div:active:after {
  background-color: rgba(190, 190, 190, 0.2);
}
.techknow .guide-content .guide-share-icons > div:nth-of-type(1) {
  background-image: url(icon-facebook.svg);
}
.techknow .guide-content .guide-share-icons > div:nth-of-type(2) {
  background-image: url(icon-twitter.svg);
}
.techknow .guide-content .guide-share-icons > div:nth-of-type(3) {
  background-image: url(icon-linkedin.svg);
}
.techknow .guide-nav-container {
  display: block;
  position: absolute;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  width: 48px;
}
.techknow .guide-nav-container:hover {
  cursor: pointer;
}
.techknow .guide-nav-container:hover .bar {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
  transition: opacity .7s ease, transform .5s;
  transition-delay: 150ms;
}
.techknow .guide-nav-container:active .semi {
  box-shadow: 0px 0px 6px black;
  width: 54px;
  height: 54px;
  top: 72px;
}
.techknow .guide-nav-container:active .semi img {
  height: 20px;
}
.techknow .guide-nav-container:active .bar {
  background-color: rgba(30, 30, 30, 0.8);
}
.techknow .guide-nav-container.left {
  width: 78px;
  left: 0;
  overflow: hidden;
  padding-right: 76px;
}
.techknow .guide-nav-container.left .semi {
  left: -24px;
  box-shadow: 1px 0px 8px black;
  border-radius: 0 50% 50% 0;
  border-left: 0;
}
.techknow .guide-nav-container.left .semi img {
  transform: scale(1.2) translateX(25px) rotateY(180deg);
}
.techknow .guide-nav-container.left .semi img:hover {
  cursor: pointer;
}
.techknow .guide-nav-container.left .bar {
  transform: translateX(-100%);
  left: 0px;
}
.techknow .guide-nav-container.left .bar span {
  right: 0;
}
.techknow .guide-nav-container.left:hover .bar {
  transform: translateX(0%);
}
.techknow .guide-nav-container.right {
  right: 0;
  overflow: hidden;
  padding-left: 76px;
}
.techknow .guide-nav-container.right .semi {
  box-shadow: -1px 0px 8px black;
  margin-left: 10px;
  border-radius: 50% 0 0 50%;
  border-right: 0;
}
.techknow .guide-nav-container.right .semi img {
  transform: scale(1.2) translateX(9px);
}
.techknow .guide-nav-container.right .bar {
  right: 0;
}
.techknow .guide-nav-container .semi {
  background-color: #ffffff;
  border: 4px solid #00afff;
  width: 56px;
  height: 56px;
  position: relative;
  top: 71px;
}
.techknow .guide-nav-container .semi img {
  position: absolute;
  top: 17px;
  z-index: 2;
}
.techknow .guide-nav-container .bar {
  position: absolute;
  top: 85px;
  font-size: 16px;
  font-style: sans-serif, Arial;
  width: 95px;
  height: 38px;
  background-color: rgba(30, 30, 30, 0.9);
  color: white;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: all .7s ease;
  transition-delay: 0.6s;
}
.techknow .guide-nav-container .bar span {
  position: absolute;
  top: -4px;
  padding: 10px 6px;
  font-size: 22px;
  text-shadow: 0px 0px 2px #00afff;
}

/*# sourceMappingURL=guides.css.map */
